
.section1
    background-image: url(../images/main_bg.jpg)
    height: 110rem
    display: flex
    align-items: center
    justify-content: center
    .menu
        
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        position: relative
        background-color: white
        
        .sidebl
            position: absolute
            bottom: 0
            left: 0
        .sidetl
            position: absolute
            left: 0
            top: 0
        .sidetr
            position: absolute
            top: 0
            right: 0
        .sidebr
            position: absolute
            bottom: 0
            right: 0
        .ourStory
            display: flex
            justify-content: center
            flex-direction: column
            text-align: center
            width: 58%
            height: 27rem
            align-items: center

            h1
                font-family: $font
                margin: 0
                span
                    color: $red
            p
                justify-content: center
                margin-top: 3rem
                width: 80%
            img
                width: 100%
            
        .ourMenuList
            display: flex
            flex-direction: column
            text-align: center
            justify-content: center
            .titre

            h1
                font-family: $font
                margin: 0
               
                span
                    color: $red
            img
                width: 100%
                
            .ourMenu
                display: flex
                .elements
                    display: flex
                    align-items: flex-start
                    flex-wrap: no-wrap
                    flex-direction: column

                    a
                        height: 5rem
                        font-size: 3rem
                        border: none
                        width: 100%
                        color: $grey
                        border-right: 1px solid $grey
                        border-bottom: 1px solid $grey
                    a:active
                        color: $red
                        border-right: $red 0.3rem solid
                        i
                            color: $red
                
                .display
                    position: relative
                    .hidden
                        display: none !important
                    .attente
                        height: max-content
                        width: 55%
                        background: url(../images/main_bg.jpg)
                        margin-left: 13.5%
                        top: 5%
                        display: flex
                        flex-direction: column
                        align-items: center
                        border: 0.1rem $red solid
                        border-radius: 0.4rem
                        padding:1rem
                        position: absolute
                        
                        
                        h1
                            margin-bottom: 0.4rem
                        p
                            width: 80%
                            font-family: $font
                            font-size: 1.5rem
                            height: max-content
                    .flex
                        display: flex
                        
                    .abso
                        position: absolute
                        z-index: 5
                        top: 0

               




                .divuno
                    
                    div
                        width: 100%
                        border-right: 1px solid grey
                        border-bottom: 1px solid grey
                        width: 100%
                        height: 7rem
                        padding: 1rem
                        text-align: center
                        button
                            width: 100%
                            height: 100%
                            background: transparent
                            border: none

                            i
                                font-size: 3.5rem
                                color: $grey
                            

                            p
                                font-family: $font
                                font-size: 1.2rem
                    div:active
                        color: $red
                        border-right: $red 0.3rem solid
                        i
                            color: $red
                            
                .divduo
                    margin-top: 2rem
                    div
                        display: flex
                        height: 14rem
                        margin: 1rem
                        justify-content: space-between
                        align-items: center
                        margin: 0
                        border-bottom: 0.05rem solid $grey
                        img
                            border-radius: 50%
                            
                            border: 0.3rem $grey solid
                            
                        p:first-of-type
                            text-align: start
                            width: 52%
                            margin-left: 0.5rem
                            font-size: 0.95rem
                        p:last-of-type
                            background-color: $grey
                            padding-right: 0.4rem
                            padding-left: 0.4rem
                            color: $red
                            font-weight: bold
        


@media   (min-width: 1040px) and ( max-width:1240px )
    .section1
        height: 205rem
        .menu

            .ourMenuList
                .ourMenu

                    .divduo
                        div
                            flex-direction: column
                            height: 28rem
                            justify-content: space-evenly
                            img
                                width: 60%
                            p:first-of-type
                                font-size: 1.2rem
                                text-align: center
                            p:last-of-type
                                font-size: 1.5rem


@media (min-width: 640px) and (max-width: 1239px)

    .section1
        height: 215rem
        .menu
            height: 198rem
            justify-content: space-evenly
            .ourStory
                height: 42rem
                margin-top: 1rem
            .ourMenuList
                height: 80%
                .ourMenu
                    height: 100%
                    .divuno
                        height: 25%
                    .divduo
                        height: 70%
                        div
                            flex-direction: column
                            height: 28rem
                            justify-content: space-evenly
                            img
                                width: 60%
                            p:first-of-type
                                font-size: 1.2rem
                                text-align: center
                                width: 100%
                            p:last-of-type
                                font-size: 1.5rem


@media (max-width: 639px)

     .section1
        height: 212rem
        .menu
            height: 205rem
            justify-content: space-evenly
            .ourStory
                height: 48rem
                
            .ourMenuList
                height: 75%
                .ourMenu
                    height: 100%
                    .divuno
                        height: 25%
                    .divduo
                        height: 70%
                        div
                            flex-direction: column
                            height: 28rem
                            justify-content: space-evenly
                            img
                                width: 70%
                            p:first-of-type
                                font-size: 1.2rem
                                text-align: center
                                width: 100%
                            p:last-of-type
                                font-size: 1.5rem

        // deuxième section

        // #hidden
        //     display: none
        // .ourMenuList2
        //     position: absolute
        //     top: 13%
            
        //     display: flex
        //     flex-direction: column
        //     text-align: center
        //     justify-content: center
        //     h1
        //         font-family: $font
        //         margin: 0
               
        //         span
        //             color: $red
        //     img
        //         width: 15rem
        //         margin-bottom: 1rem
                
        //     .ourMenu
        //         display: flex
            
               
        //         .divuno
                    
        //             div
        //                 width: 100%
        //                 border-right: 1px solid grey
        //                 border-bottom: 1px solid grey
        //                 width: 100%
        //                 height: 7rem
        //                 padding: 1rem
        //                 text-align: center
        //                 i
        //                     font-size: 3.5rem
        //                     color: $grey
                        

        //                 p
        //                     font-family: $font
        //                     font-size: 1.2rem
        //             div:active
        //                 border-right: 0.4rem solid $red
        //                 i
        //                     color: $red
        //         .divduo
        //             margin-top: 2rem
        //             div
        //                 display: flex
        //                 height: 14rem
        //                 margin: 1rem
        //                 justify-content: space-between
        //                 align-items: center
        //                 margin: 0
        //                 border-bottom: 0.05rem solid $grey
        //                 img
        //                     border-radius: 50%
                            
        //                     border: 0.3rem $grey solid
                            
        //                 p:first-of-type
        //                     text-align: start
        //                     width: 52%
        //                     margin-left: 0.5rem
        //                     font-size: 0.95rem
        //                 p:last-of-type
        //                     background-color: $grey
        //                     padding-right: 0.4rem
        //                     padding-left: 0.4rem
        //                     color: $red
        //                     font-weight: bold

    